{% extends "wagtailadmin/base.html" %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/elements.css' %}">
  <link rel="stylesheet" href="{% static 'css/templates/admin/json.css' %}">

  <div class="container json__container">
    <h1>Processar JSON</h1>
    <h4>Insira o arquivo JSON que deseja processar</h4>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button button--primary">Enviar JSON</button>
    </form>
  </div>
{% endblock %}
