{% extends 'base.html' %}
{% load static intro_video %}

{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/templates/users/auth.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/templates/users/login.css' %}"
/>

<main>
  <div id="login" class="container">
    <div class="auth__content">
      {% intro_video %}
      <div class="login__container fade-up">
        <h3>Login</h3>
        <form method="post">
          {% csrf_token %}
          <div class="fields">
            {{ form.as_p }}
          </div>
          <div class="login__buttons">
            <a class="login__register" href="register">Ainda não tem conta?</a>
            <button type="submit" class="login__button">Entrar</button>
            <a class="login__forgot" href="password_reset">Esqueceu a senha?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
