.hint__video {
    min-height: 12rem;
}

.hint__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hint__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem
}

.hint__description {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mid-background);
    min-height: 30rem;
}

.hint__sidebar {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.hint__buttons {
    display: flex;
    gap: 1rem;
}

.hint__button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mid-background);
    width: 100%;
}

.hint__button.previous {
    width: min-content;
}

@media screen and (max-width: 768px) {
    .hint__content {
        grid-template-columns: 1fr;
    }
}
