.menu-top {
    display: grid;
    grid-auto-flow: column;
    justify-content: stretch;
    gap: 1.5rem;
    margin-block: 3rem;
}

.menu-top__item button {
    font-size: 1.25rem;
    width: 100%;
}

.chart__title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.chart__board {
    margin-top: .5rem;
    background-color: var(--mid-background);
    border-radius: 1.5rem;
    padding: 2rem;
    font-weight: 700;
    line-height: 1.5rem;
}