.lists__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.list__item button {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list__content {
    text-align: center;
}

.list__content ul {
    text-align: left;
    width: 50%;
}