html {overflow-x: hidden;}

a[disabled] {pointer-events:none}

body {
    background-color: var(--dark-bg);
    color: white;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 100vmax;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    color: var(--shadow-color) !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}

.hide {display: none !important;}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* ###################################### */
/* Fonts */
h1 {
    font-size: 36px;
    line-height: 49px;
    color: var(--dark-blue);
}

h2 {
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-blue);
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-size: 20px;
    line-height: 27px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

a {
    color: var(--blue);
    font-weight: 700;
}

button, .button-text {
    font-size: 14px;
    line-height: 16px;
}

caption {
    font-size: 10px;
    line-height: 12px;
}

.overline {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

h1, h2 {color: var(--dark-blue);}

h5, p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, button, .button-text, caption {
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
}

a:hover {text-decoration: underline;}


.hidden {visibility: hidden;}

.hide {display: none;}

.container {
    width: 80%;
    height: 100%;
    margin-inline: auto;
}
