header {
    margin-bottom: 2rem;
}

.header__content {
    background-color: var(--dark-bg);
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--secondary-color) 1px solid;
}

.user {
    color: white;
    font-style: italic;
    display: grid;
    grid-column: column;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    transition: 35s;
}

.user__admin {
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: .5rem;
    padding: .5rem;
    font-style: normal;
}

.user__admin:hover {
    color: var(--secondary-color);
    background-color: white;
}

.user a {
    text-decoration: none;
}

.user__profile {
    transition: .35s;
}

.user__profile:hover {
    color: #862525
}

.user__profile:hover .fa-user {
    display: none;
}

.user__profile .fa-sign-out-alt {
    display: none;
}

.user__profile:hover .fa-sign-out-alt {
    display: inline-block;
}

@media screen and (max-width: 620px) {
    .header__content {
        flex-direction: column;
        gap: .75rem;
    }
}