:root {
    --primary-color: #041F0E;
    --secondary-color: #25AB73;
    --light-green: #2FFD2B;
    --secondary-green: #0e4b48;
    --secondary-blue: #1d9184;
    --mid-background: #56a697;
    --dark-bg: #0b181b;
    --light-bg: #e1f4f0;
}
