{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/questions/question_start.css' %}">

<div id="start" class="container">
    <form method="post" class="intro">
        {% csrf_token %}
        <input type="hidden" name="list_id" id="list_input_id" value="">
        <div class="start__content">
            <h3>
                Você está prestes a iniciar a lista
                <u><span class="list__title">{{question_list.title}}</span></u>
            </h3>
            <div class="start__instructions">{{ question_list.get_instructions }}</div>
            <button>Iniciar</button>
        </div>
    </form>
</div>

{% endblock %}
