{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/questions/question_list_index.css' %}">

<main class="container">
    <div class="lists">
        <div class="lists__header">
            <div class="lists__title">
                Listas
            </div>
            <a href="/" class="lists__back">< Voltar para o início</a>
            {% if active_list %}
                <h3>Você está realizando a lista <a href="{{active_list.slug}}">{{ active_list.title }}</a></h3>
            {% endif %}
            <div class="lists__board">
                <div class="list">
                    {% for list_item in lists %}
                        <a href="/questions/{{list_item.id}}" class="list__item">
                            <button {% if active_list %}disabled{% endif %}>
                                {{list_item.title}}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}