{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/questions/question_list.css' %}">

<div id="test" class="container">
    <form method="post" class="intro">
        {% csrf_token %}
        <div class="list__content">
            <h3>Você está prestes a iniciar a lista <u><span class="list__title">{{question_list.title}}</span></u></h3>
            <hr>
            <input type="hidden" name="list_id" id="list_input_id" value="">
            <div class="list__instructions">
                {{ question_list.instructions }}
            </div>
        </div>
        <div class="modal__footer">
            <button>Iniciar</button>
        </div>
    </form>
</div>

{% endblock %}