{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/questions/question_list_index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/modal.css' %}">

<main class="container">
    <div class="lists">
        <div class="lists__header">
            <div class="lists__title">
                Listas
            </div>
            <a href="/" class="lists__back">Voltar para o início</a>
            <div class="lists__board">
                <div class="list">
                    {% for list_item in lists %}
                        <a href="javascript:openList('{{list_item.title}}', '{{list_item.slug}}')" class="list__item">
                            {{list_item.title}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal" id="list__modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
        <form method="post" action="" class="modal__content">
            <div class="modal__header">
                <h3 class="modal__title"></h3>
                <div class="modal__close" onclick="closeModal('#list__modal')">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="modal__body list__content">
                <h3>Você está prestes a iniciar a lista <u><span class="list__title"></span></u></h3>
                <hr>
                <div class="list__instructions">
                    {% if list_item.instructions %}
                        {{ list_item.instructions|richtext }}
                    {% else %}
                        {{ page.default_instructions}}
                    {% endif %}
                </div>
            </div>
            <div class="modal__footer">
                <button>Iniciar</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/components/modal.js'%}"></script>
<script>
    const titles = document.querySelectorAll('.list__title, .modal__title');
    function cleanModal() {
        titles.forEach(titleEl => {
            titleEl.innerHTML = '';
        })
    }

    function openList(listTitle, listLink) {
        cleanModal();
        titles.forEach(titleEl => {
            titleEl.innerHTML = listTitle;
        })
        document.querySelector('.modal__content').action = listLink;
        openModal('#list__modal');

    }
</script>

{% endblock %}