#login {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
    min-height: 40rem;
    align-items: center;
}

.login__container {
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: var(--mid-background);
}

.login__container form p {
    display: grid;
    grid-template-columns: 1fr;
}

.login__container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

.login__container form p label {
    font-weight: 700;
}

.login__container form p input {
    padding: .75rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.25rem;
}

.login__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    text-align: center;
    justify-items: center;
}

.login__buttons button {
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: .5rem;
    padding: .75rem 3rem;
}

.video-container, #video {
    width: 100%;
    height: 100%;
}