@media screen and (max-width: 1200px) {
    .login__content {
      grid-template-columns: 100%;
      grid-template-rows: 25rem;
    }

    .video__container {
      width: auto;
    }

    .login__container {
      max-width: 25rem;
      padding: 2rem;
    }

    .login__container:first-child {
      grid-column-end: 1;
  }
}
