.modal__backdrop {
    background-color: #00000093;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal {
    display: none;
    place-items: center;
}

.modal.active {
    display: grid;
}

.modal__container {
    background-color: white;
    width: 60%;
    height: 40%;
    position: absolute;
    z-index: 600;
    border-radius: 2rem;
    margin-top: 12rem;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    color: var(--dark-bg);
}

.modal__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem;
    color: var(--dark-bg);
}

.modal__close {
    color: var(--dark-bg);
}

body.modal-active {
    overflow: hidden;
}

.modal__list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
}

.modal__list a {
    text-decoration: none;
    background-color: var(--dark-bg);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}