{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/questions/questions_index.css' %}">

<main class="container">
    <div class="lists">
        <div class="lists__header">
            <div class="lists__title">

            </div>
            <a class="lists__back"></a>
            <div class="lists__board">
                <div class="list"></div>
            </div>
        </div>
    </div>
</main>