{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

<header>
    <div class="header__content container fade-down">
        <a href="/" class="header__logo"><img alt="logo" src="{% static 'img/logo.svg' %}"></a>
        {% if user.is_authenticated %}
            <div class="user">
                <a href="/auth/logout" class="user__profile">
                    {{ user.email }}
                    <i class="fas fa-user"></i>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                {% if user.is_staff %}
                    <a href="/admin" class="user__admin">Admin</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</header>
